body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eaeaea;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    width: 900px;
    height: 550px;
    margin: 50px auto;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.left {
    width: 50%;
    padding: 40px;
}

.logo {
    color: brown;
}

.subtitle {
    color: gray;
    margin-bottom: 20px;
}

/* TABS */
.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tabs button {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.tabs .active {
    background: #ddd;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* BUTTON */
.login-btn {
    margin-top: 20px;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* LINKS */
.links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: gray;
}

/* RIGHT SIDE */
.right {
    width: 50%;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}