{% extends 'base.html' %}
{% block title %}Login | Coffee Social Hub{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<div class="login-container">

    <!-- LEFT SIDE -->
    <div class="left">
        <h2 class="logo">Coffee Hub</h2>
        <h3>Welcome Back</h3>
        <p class="subtitle">Find your perfect coffee spot</p>

        <div class="tabs">
            <a class="active" href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Signup</a>
        </div>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        {% if message %}
        <p class="success">{{ message }}</p>
        {% endif %}

        <form method="POST" action="{{ url_for('login') }}">
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" required>

            <button type="submit" class="login-btn">Login</button>
        </form>


    </div>

    <!-- RIGHT SIDE -->
    <div class="right">
        <img src="{{ url_for('static', filename='images/login-image.jpeg') }}" alt="coffee">
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script>
    if (window.location.search.includes("error")) {
        window.history.replaceState({}, document.title, "/login");
    }
</script>
{% endblock %}